<div class="background-container"></div>

<script type="text/x-handlebars" data-template-name="list/posts-count-column.raw">
  <{{view.tagName}} class='num posts-map posts {{view.likesHeat}}' title='{{view.title}}'>
  <button class="btn-link posts-map badge-posts {{view.likesHeat}}">
    {{raw-plugin-outlet name="topic-list-before-reply-count"}}
    {{d-icon "far-comment"}} {{number topic.replyCount noTitle="true" ariaLabel=view.title}}
  </button>
</{{view.tagName}}>
</script>


<script type="text/x-handlebars" data-template-name="list/posters-column.raw">
  <td class='posters'>
{{#each posters as |poster|}}
  {{#if poster.moreCount}}
    <a class="posters-more-count">{{poster.moreCount}}</a>
  {{else}}
    <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extraClasses}}">{{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" namePath="user.name" imageSize="medium"}}</a>
  {{/if}}
{{/each}}
</td>
</script>

<script type="text/x-handlebars" data-template-name="components/categories-boxes">
  {{#each categories as |c|}}
    <div style={{unless noCategoryStyle (border-color c.color)}} data-category-id={{c.id}} data-notification-level={{c.notificationLevelString}} data-url={{c.url}}
      class="category category-box category-box-{{c.slug}} {{if c.isMuted "muted"}} {{if noCategoryStyle "no-category-boxes-style"}}">
      <div class="category-box-inner">
        {{#unless c.isMuted}}
          {{#if c.uploaded_logo.url}}
            <div class="category-logo">
              {{cdn-img
                src=c.uploaded_logo.url
                class="logo"
              }}
            </div>
          {{/if}}
        {{/unless}}
        <div class="category-details">
          <div class="category-box-heading">
            <a class="parent-box-link" href={{c.url}}>
              <h3>
                {{category-title-before category=c}}
                {{#if c.read_restricted}}
                  {{d-icon "lock"}}
                {{/if}}
                {{c.name}}
              </h3>
            </a>
          </div>

          {{#unless c.isMuted}}
            <div class="description">
              {{html-safe c.description_excerpt}}
            </div>
          {{/unless}}
        </div>
      </div>
    </div>
  {{/each}}
</script>
